<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.sookim.coordinatorProject</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
		<string>com.apple.dt.unit.sceneLifecycleApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>Template to start with coordinator</string>
	<key>NameOfInitialFileForEditor</key>
	<string>ContentView.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>Base.lproj/Main.storyboard</key>
							<dict>
								<key>Path</key>
								<string>Main.storyboard</string>
								<key>SortOrder</key>
								<integer>98</integer>
							</dict>
							<key>Info.plist:UIMainStoryboardFile</key>
							<string>&lt;key&gt;UIMainStoryboardFile&lt;/key&gt;
                            &lt;string&gt;Main&lt;/string&gt;
                        </string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>Base.lproj/Main.storyboard</string>
							<string>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</string>
							<string>Info.plist:UIMainStoryboardFile</string>
						</array>
						<key>RequiredOptions</key>
						<dict>
							<key>userInterface</key>
							<string>Storyboard</string>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>Base.lproj/Main.storyboard</key>
							<dict>
								<key>Path</key>
								<string>Main.storyboard</string>
								<key>SortOrder</key>
								<integer>98</integer>
							</dict>
							<key>Info.plist:UIMainStoryboardFile</key>
							<string>&lt;key&gt;UIMainStoryboardFile&lt;/key&gt;
                            &lt;string&gt;Main&lt;/string&gt;
                        </string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>Base.lproj/Main.storyboard</string>
							<string>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</string>
							<string>Info.plist:UIMainStoryboardFile</string>
							<string>ViewController.swift:comments</string>
							<string>ViewController.swift:imports:importCocoa</string>
							<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
							<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
							<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
						</array>
						<key>RequiredOptions</key>
						<dict>
							<key>userInterface</key>
							<string>Storyboard</string>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>SupportingFiles/Coordinator.swift</key>
							<dict>
								<key>Group</key>
								<string>SupportingFiles</string>
								<key>Path</key>
								<string>SupportingFiles/Coordinator.swift</string>
								<key>SortOrder</key>
								<string>1</string>
							</dict>
							<key>SupportingFiles/CoordinatorFinishDelegate.swift</key>
							<dict>
								<key>Group</key>
								<string>SupportingFiles</string>
								<key>Path</key>
								<string>SupportingFiles/CoordinatorFinishDelegate.swift</string>
								<key>SortOrder</key>
								<string>2</string>
							</dict>
							<key>SupportingFiles/CoordinatorType.swift</key>
							<dict>
								<key>Group</key>
								<string>SupportingFiles</string>
								<key>Path</key>
								<string>SupportingFiles/CoordinatorType.swift</string>
								<key>SortOrder</key>
								<string>3</string>
							</dict>
							<key>SupportingFiles/AppCoordinator.swift</key>
							<dict>
								<key>Group</key>
								<string>SupportingFiles</string>
								<key>Path</key>
								<string>SupportingFiles/AppCoordinator.swift</string>
								<key>SortOrder</key>
								<string>4</string>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>SupportingFiles/CoordinatorFinishDelegate.swift</string>
							<string>SupportingFiles/CoordinatorType.swift</string>
							<string>SupportingFiles/Coordinator.swift</string>
							<string>SupportingFiles/AppCoordinator.swift</string>
							<string>ViewController.swift:comments</string>
							<string>ViewController.swift:imports:importCocoa</string>
							<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
							<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
							<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
						</array>
						<key>RequiredOptions</key>
						<dict>
							<key>userInterface</key>
							<string>Storyboard</string>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Default</key>
			<string>Storyboard</string>
			<key>Description</key>
			<string>The type of user interface.</string>
			<key>Identifier</key>
			<string>userInterface</string>
			<key>Name</key>
			<string>User Interface:</string>
			<key>RequiredOptionsForValues</key>
			<dict>
				<key>Storyboard</key>
				<dict>
					<key>languageChoice</key>
					<string>Swift</string>
				</dict>
			</dict>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>Storyboard</string>
			</array>
		</dict>
		<dict>
			<key>Default</key>
			<string>false</string>
			<key>Description</key>
			<string>Is the root view controller embedded in a navigation controller</string>
			<key>Identifier</key>
			<string>navigationController</string>
			<key>Name</key>
			<string>Embed in Navigation Controller</string>
			<key>RequiredOptions</key>
			<dict>
				<key>userInterface</key>
				<string>Storyboard</string>
			</dict>
			<key>Units</key>
			<dict>
				<key>false</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>SceneDelegate.m:implementation:methods:sceneWillConnectToSession:body</key>
							<string>    UIWindowScene *windowScene = (UIWindowScene *) scene;
    self.window = [[UIWindow alloc] initWithFrame:windowScene.coordinateSpace.bounds];
    self.window.windowScene = windowScene;
    ___VARIABLE_rootClassName___ *rootViewController = [[___VARIABLE_rootClassName___ alloc] init];
    self.window.rootViewController = rootViewController;
    [self.window makeKeyAndVisible];</string>
						</dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Objective-C</string>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body</key>
							<string>guard let windowScene = (scene as? UIWindowScene) else { return }
let navController = UINavigationController()

coordinator = AppCoordinator(navController)
coordinator?.start()

window = UIWindow(windowScene: windowScene)
window?.rootViewController = navController
window?.makeKeyAndVisible()</string>
							<key>SceneDelegate.swift:implementation:methods</key>
							<string>var coordinator: AppCoordinator?</string>
						</dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
</dict>
</plist>
